.greenButton{
    background-color: rgb(1, 91, 22)!important;
    color: aliceblue!important;
}

.greenButton:hover{
    background-color: rgb(0, 124, 29)!important;
    color: aliceblue!important;
}

.blueButton{
    background-color: rgb(22, 9, 75)!important;
    color: aliceblue!important;
}


.blueButton:hover{
    background-color: rgb(37, 15, 129)!important;
    color: aliceblue!important;
}


.violetButton{
    background-color: rgb(39, 4, 70)!important;
    color: aliceblue!important;
}


.violetButton:hover{
    background-color: rgb(84, 10, 149)!important;
    color: aliceblue!important;
}


.positionSpace{
    margin-top: 5%;
}

.redButton{
    background-color: rgb(108, 5, 2)!important;
    color: aliceblue!important;
}


.redButton:hover{
    background-color: rgb(216, 4, 4)!important;
    color: aliceblue!important;
}



.orangeButton{
    background-color: rgb(165, 74, 0)!important;
    color: aliceblue!important;
}


.orangeButton:hover{
    background-color: rgb(230, 110, 12)!important;
    color: aliceblue!important;
}

.violetButton{
    background-color: rgb(66, 0, 88)!important;
    color: aliceblue!important;
}


.violetButton:hover{
    background-color: rgb(115, 2, 153)!important;
    color: aliceblue!important;
}
.nondecoration{
    text-decoration: none!important;
}

.positionLogin{
    margin-top: 10%;
}